body {
  background-color: #222b31;
  color: #d9dde0;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  padding: 0px 30px;
}

.container {
  max-width: 1024px;
  padding: 0px 10px;
  margin: 0 auto;
}

.content {
  &__wrapper {
    display: flex;
    min-height: 80vh;
  }
}

.films-section {
  &__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__title {
    font-size: 35px;
    color: #d9dde0;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}

.movie {
  position: relative;
  flex: 1 0 20%;
  color: #d9dde0;
  margin-right: 25px;
  margin-bottom: 25px;
  max-width: 167px;
  &:nth-child(4n) {
    margin-right: 0;
  }
  &__rating {
    background-color: orange;
    display: inline;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%);
    color: #fff;
    min-width: 40px;
    text-align: center;
  }

  &__poster {
    width: 100%;
    height: 210px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);
  }

  &__name {
    font-size: 20px;
    letter-spacing: 0.7px;
    margin-top: 10px;
  }

  &__genres {
    display: flex;
    margin-top: 5px;
    & li {
      letter-spacing: 0.5px;
      margin-right: 5px;
    }
  }
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 30vw;
    display: block;
    max-width: 300px;
  }
}

.nothing-found {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & img {
    width: 35vw;
    display: block;
    max-width: 300px;
  }
  &__title {
    font-size: 35px;
  }
}
